<div class="layout-wrapper relative">
    <nav class="main-nav py-[8px] bg-teal-800">
        <div class="wrapper flex justify-between">
            <a routerLink="/home/" class="brand-link text-white font-bold text-[27px]">Poster</a>
            <ul class="nav-list flex items-center">
                <li class="nav-item">
                    <a routerLink="create"  class="nav-link block text-white text-[18px] mr-4 p-[5px_12px] cursor-pointer">
                        Create Post
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link block text-white text-[18px] p-[5px_12px] cursor-pointer" (click)="logout()">
                        Profile
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <section class="content-container">
        <router-outlet></router-outlet>
    </section>
</div>