<div class="view-post-container">
    <div class="wrapper">
        <section class="post-section p-[25px] text-black">
            <header class="post-title">
                <a class="user-data text-[18px] block pb-4">
                    {{post.post_author}}
                </a>
                <h2 class="post-title text-[28px] font-bold pb-4">
                    {{post.post_title}}
                </h2>
            </header>
            <article class="post-desc text-[24px]">
                <p>{{post.post_desc}}</p>
            </article>
        </section>
    </div>
</div>