<section class="main-wrapper">
    <div class="w-[90%] max-w-[750px]  mx-auto">
        <nav class="feed-navbar py-[15px] flex items-center justify-between">
            <h3 class="title-text text-[25px] font-medium">Feed</h3>
            <ul class="feed-sorting flex items-center text-[20px]">
                <li class="feed-sort-item"><a href="#" class="feed-sort-link mr-3 font-medium">Algo</a></li>
                <li class="feed-sort-item"><a href="#" class="feed-sort-link mr-3">Recent</a></li>
                <li class="feed-sort-item"><a href="#" class="feed-sort-link">Top</a></li>
            </ul>
        </nav>
        <div class="posts-container">
            <div class="inner-container">
                <ul class="posts-list">
                    <li class="post-item" *ngFor="let post of posts">
                        <a [routerLink]="['/home/view/',post.post_id]" class="post-link block">
                            <div class="post-card border-b border-gray-400 p-[15px]">
                                <div class="post-header">
                                    <a  class="post-author text-[18px]">{{post.post_author}}</a>
                                </div>
                                <h2 class="post-title text-[25px]">{{post.post_title}}</h2>
                            </div>
                        </a>
                    </li>
                </ul>

            </div>

        </div>
    </div>
</section>